name: UnitTest

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Setup .NET Core
      uses: actions/setup-dotnet@master
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore ReRabbit/ReRabbit.sln
    - name: Build
      run: dotnet build ReRabbit/ReRabbit.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test ReRabbit/ReRabbit.sln --no-restore --verbosity normal /p:CollectCoverage=true /p:CoverletOutput=/ReRabbit.tests/UnitTests/TestResults/ /p:CoverletOutputFormat=lcov
    - name: Publish coverage report to coveralls.io
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./ReRabbit/ReRabbit.tests/UnitTests/TestResults/coverage.info 
